.settings-page{

min-height:100vh;

padding:40px;
margin-top: 50px;

background:#f4f8fc;

transition:.3s;

}

.settings-header{

text-align:center;

margin-bottom:35px;

}

.settings-header h1{

font-size:38px;

color:#1565C0;

margin-bottom:8px;

}

.settings-header p{

color:#666;

font-size:17px;

}

.settings-container{

max-width:850px;

margin:auto;

display:flex;

flex-direction:column;

gap:20px;

}

.setting-card{

background:white;

padding:22px 25px;

border-radius:18px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:0 10px 30px rgba(0,0,0,.08);

transition:.3s;

}

.setting-card:hover{

transform:translateY(-5px);

box-shadow:0 15px 35px rgba(0,0,0,.12);

}

.left{

display:flex;

align-items:center;

gap:20px;

}

.icon{

font-size:28px;

color:#1565C0;

}

.left h3{

margin-bottom:4px;

font-size:20px;

}

.left p{

color:#777;

font-size:14px;

}

.clickable{

cursor:pointer;

}

.logout-btn{

margin-top:30px;

padding:15px;

width:100%;

border:none;

border-radius:14px;

background:#e53935;

color:white;

font-size:18px;

font-weight:bold;

display:flex;

justify-content:center;

align-items:center;

gap:10px;

cursor:pointer;

transition:.3s;

}

.logout-btn:hover{

background:#c62828;

}

.language-select {

    min-width: 140px;
    margin-left: 400px;

    padding: 10px 14px;

    border: 1px solid #ddd;

    border-radius: 10px;

    background: white;

    color: #333;

    font-size: 14px;

    font-weight: 600;

    cursor: pointer;

    outline: none;

    transition: .3s;
}


.language-select:focus {

    border-color: #1565C0;

    box-shadow:
        0 0 0 3px rgba(21,101,192,.1);
}


/* DARK MODE */

body.dark-theme .language-select {

    background: #252525;

    color: white;

    border-color: #444;
}


@media(max-width:600px) {

    .language-select {

        min-width: 110px;

        font-size: 13px;

    }

}

/* Switch */

.switch{

position:relative;

display:inline-block;

width:55px;

height:28px;

}

.switch input{

display:none;

}

.slider{

position:absolute;

cursor:pointer;

top:0;

left:0;

right:0;

bottom:0;

background:#ccc;

transition:.4s;

border-radius:30px;

}

.slider:before{

position:absolute;

content:"";

height:22px;

width:22px;

left:3px;

bottom:3px;

background:white;

transition:.4s;

border-radius:50%;

}

input:checked + .slider{

background:#1565C0;

}

input:checked + .slider:before{

transform:translateX(27px);

}

/* Dark Theme */

.dark-theme{

background:#111827;

color:white;

}

.dark-theme .settings-page{

background:#111827;

}

.dark-theme .setting-card{

background:#1f2937;

color:white;

}

.dark-theme .left p{

color:#cbd5e1;

}

.dark-theme .settings-header h1{

color:#64b5f6;

}

.dark-theme .settings-header p{

color:#ddd;

}

/* Mobile */

@media(max-width:768px){

.settings-page{

padding:20px;

}

.setting-card{

padding:18px;

}

.left{

gap:15px;

}

.left h3{

font-size:17px;

}

}